# haskell and yesod

*.out
,
dist/
dist-*/
cabal-dev
*~
*.o
*.o_p
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv/
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.swp
*.eventlog
.stack-work/
cabal.project.local
.HTF/
client_session_key.aes
yesod/foobar/
/vendor/
.shelly/
tarballs/
tmp/
yesod-devel/

# sqlite3

*.sqlite3-*
